<div class="container mt-3">
  <h5 class="d-inline mb-10 bg-light">ジャンル一覧・追加</h5>
  <div class="row">
    <div class="col-lg-5">
      <%= form_with model: @genre, url: admins_genres_path, local:true do |f| %>
      <table class="table mt-2">
        <tbody>
          <tr>
            <th>ジャンル名</th>
            <th><%= f.text_field :name, :placeholder => "ジャンル名" %></th>
            <th><%= f.submit '新規登録', class: "btn btn-danger ml-2" %></th>
          </tr>
        </tbody>
      </table>
      <% end %>

      <table class="table mt-3">
        <thead class="thead-light">
          <th>ジャンル</th>
          <th colspan="1"></th>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <td><%= genre.name %></td>
          <td><%= link_to "編集する", edit_admins_genre_path(genre), class: 'btn btn-warning ml-2 pt-1 pb-1' %></td>
        </tbody>
          <% end %>
      </table>
    </div>
  </div>
</div>