<h3>商品詳細</h3>

<span><%= attachment_image_tag @item, :image, format:'jpeg', fallback: "m_e_others_500.jpg", size: "100x100" %></span>
<table>
  <tbody>
    <tr>
      <th>商品名</th>
      <th><%= @item.name %></th>
    </tr>
    <tr>
      <th>商品説明</th>
      <th><%= @item.introduction %></th>
    </tr>
    <tr>
      <th>ジャンル</th>
      <th><%= @item.genre.name %></th>
    </tr>
    <tr>
      <th>税込価格</br>(税抜価格)</th>
      <th><%= number_to_currency(@item.price) %><%= addTax(@item.price,1.1) %>円</th>
    </tr>
    <tr>
      <th>販売ステータス</th>
      <th><%= @item.is_active %></th>
    </tr>
  </tbody>
</table>
<div>
  <%= link_to "編集する", edit_admins_item_path %>
</div>