<h3>注文履歴詳細</h3>

<h4>注文情報</h4>
<table>
  <tbody>
    <tr>
      <th>注文日</th>
      <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
    <tr>
      <th>支払方法</th>
      <td><%= @order.payment %></td>
    </tr>
    <tr>
      <th>お届け先</th>
      <td><%= @order.postal_code %> <%= @order.address %> <%= @order.orders_name %></td>
    </tr>
    <tr>
      <td>ステータス</td>
      <td><%= orders_status %></td>
    </tr>
  </tbody>
</table>

<table>
<thead>
  <tr>
    <th>商品</th>
    <th>単価(税込)</th>
    <th>個数</th>
    <th>小計</th>
  </tr>
</thead>
<tbody>
    <% sum = 0 %>
    <% @order.orders_items.each do |order.orders_item| %>
    <tr>
      <td><%= order.orders_item.item.name %></td>
      <td><%= order.orders_item.price %></td>
      <td><%= order.orders_item.amount %></td>
      <td><%=  order.orders_item.price.to_i*order.orders_item.amount.to_i %></td>
    </tr>
  </tbody>
    <% sum +=  order.orders_item.price.to_i*order.orders_item.amount.to_i %>
    <% end %>
</table>

<h4>請求情報</h4>
<table>
  <tbody>
    <tr>
      <td>注文合計</td>
      <td><%= number_to_currency(@order.billing_amount) %></td>
    </tr>
    <tr>
      <td>配送料</td>
      <td><%= @order.shipping %></td>
    </tr>
    <tr>
      <th>請求金額</th>
      <td><%= number_to_currency(sum) %></td>
    </tr>
  </tbody>
</table>
